﻿@page "/Category"
@inject HttpClient client

@if (PoiCats == null)
{
    <Loader></Loader>
}
else
{
    <h1>Ajouter une catégorie</h1>
    <input type="text" @bind="_nameFr" placeholder="Nom en français" />
    <input type="text" @bind="_nameNl" placeholder="Nom en néerlandais" />
    <input type="text" @bind="_nameEn" placeholder="Nom en anglais" />
    <button class="btn btn-primary" @onclick="(() => CategoryAdd())">Enregistrer</button>


    <h2>Modifier une catégorie</h2>

    <div>
            <select class="form-control" @bind="@_selectedId">
                @foreach (PoiCategory cat in PoiCats)
                {
                    <option value="@cat.Id">@cat.Name_fr</option>
                }
            </select>
        </div>
}

    @code {
        public string _nameFr;
        public string _nameNl;
        public string _nameEn;
        public CategoryModel _sendedCategory = new CategoryModel();

        public List<PoiCategory> PoiCats;
        private int _selectedId;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                var res = await client.GetAsync("category");
                if (res.IsSuccessStatusCode)
                {
                    string json = await res.Content.ReadAsStringAsync();
                    PoiCats = Newtonsoft.Json.JsonConvert.DeserializeObject<PoiCategory[]>(json).ToList<PoiCategory>();
                }


            }
            catch (Exception e)
            {
                System.Diagnostics.Debug.WriteLine(e.Message);
                throw;
            }
        }

        public void CategoryAdd()
        {
            try
            {
                _sendedCategory.Name_fr = _nameFr;
                _sendedCategory.Name_nl = _nameNl;
                _sendedCategory.Name_en = _nameEn;
                var res = client.PostAsJsonAsync("category", _sendedCategory);
                _nameFr = null;
                _nameNl = null;
                _nameEn = null;

                res = client.GetAsync("category");
                if (res.Result.IsSuccessStatusCode)
                {
                    string json = res.Result.Content.ReadAsStringAsync().ToString();
                    PoiCats = Newtonsoft.Json.JsonConvert.DeserializeObject<PoiCategory[]>(json).ToList<PoiCategory>();
                }


            }
            catch (Exception e)
            {
                System.Diagnostics.Debug.WriteLine(e.Message);
                throw;
            }

        }

    }
