﻿@page "/PoiAdd"
@inject HttpClient client
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime;

@if (PoiCats == null)
{
    <Loader></Loader>
}
else
{
    <div>
        <select class="form-control" @bind="@_selectedId">
            @foreach (PoiCategory cat in PoiCats)
            {
                <option value="@cat.Id">@cat.Name_fr</option>
            }
        </select>
    </div>
    <div>
        <div>
            <div class="container mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#frDesc">French</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="frDesc" class="container tab-pane active">
                        <input @bind="@selectedPoi.Name_fr" type="text" />
                        <textarea id="txtfr" class="form-control" @bind="@selectedPoi.Description_fr" />
                    </div>
                    <div id="nlDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_nl" />
                        <textarea id="txtnl" class="form-control">@selectedPoi.Description_nl</textarea>
                    </div>
                    <div id="enDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_en" />
                        <textarea id="txten" class="form-control" @bind="@selectedPoi.Description_en" />
                    </div>
                </div>
                <div>
                    <button disabled="@isEditionMode" @onclick="(() => SendPoi())">Enregistrer</button>
                    <button @onclick="(() => EditionMode())">@editionModeString</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public PointOfInterest selectedPoi = new PointOfInterest();
    public bool isEditionMode;
    public string editionModeString = "Mode Edition";
    public List<PoiCategory> PoiCats;
    private int _selectedId;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await client.GetAsync("category");
            if (res.IsSuccessStatusCode)
            {
                string json = await res.Content.ReadAsStringAsync();
                PoiCats = Newtonsoft.Json.JsonConvert.DeserializeObject<PoiCategory[]>(json).ToList<PoiCategory>();
                isEditionMode = false;

                StateHasChanged();
            }


        }
        catch (Exception e)
        {
            System.Diagnostics.Debug.WriteLine(e.Message);
            throw;
        }
    }

    public async void SendPoi()
    {
        try
        {
            selectedPoi.Category_id = _selectedId;
            string json = Newtonsoft.Json.JsonConvert.SerializeObject(selectedPoi);
            await client.PostAsJsonAsync<PointOfInterest>("pointinteret/", selectedPoi);

            if (isEditionMode == true)
            {
                editionModeString = "Mode Edition";
                isEditionMode = false;
                await JSRuntime.InvokeAsync<List<string>>("myDestroyFunction");
            }

            NavManager.NavigateTo("/Test");
        }
        catch (Exception e)
        {
            System.Diagnostics.Debug.WriteLine(e.Message);
            throw;
        }
    }

    public async void EditionMode()
    {
        if (isEditionMode == false)
        {
            editionModeString = "Retour Normal";
            isEditionMode = true;
            await JSRuntime.InvokeVoidAsync("myFunction");
        }
        else
        {
            editionModeString = "Mode Edition";
            isEditionMode = false;
            List<string> val = (await JSRuntime.InvokeAsync<List<string>>("myDestroyFunction"));
            selectedPoi.Description_fr = val[0];
            selectedPoi.Description_nl = val[1];
            selectedPoi.Description_en = val[2];
        }
    }
}
