﻿@page "/Test"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime;


@if (maListePoi == null)
{
    <Loader></Loader>
}
else
{
    <div>
        <div>
            @*<select class="form-control" @bind="@_selectedPoiId" @onclick="(() => _selectedId = maListePoi.FirstOrDefault(p => p.Id == _selectedPoiId)?.Category_id ?? 0)">*@
              <select class="form-control" @bind="@_selectedPoiId" @onclick="(() => getDescription(_selectedPoiId) )">
                    @foreach (PoiCategory cat in PoiCats)
                    {
                        @*<option value="@cat.Id">@cat.Name_fr</option>*@
                        <optgroup label="@cat.Name_fr" value="@cat.Id">
                            @foreach (PointOfInterest Poi in maListePoi.Where(x => x.Category_id == cat.Id))
                            {
                                <option value="@Poi.Id">@Poi.Name_fr</option>
                            }
                        </optgroup>
                    }
                </select>
        </div>

        <div>
            <div class="container mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#frDesc">French</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="frDesc" class="container tab-pane active">
                        <input @bind="@selectedPoi.Name_fr" type="text" />
                        <textarea id="txtfr" class="form-control" @bind="@selectedPoi.Description_fr" />
                    </div>
                    <div id="nlDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_nl" />
                        <textarea id="txtnl" class="form-control">@selectedPoi.Description_nl</textarea>
                    </div>
                    <div id="enDesc" class="container tab-pane fade">
                        <input type="text" @bind="@selectedPoi.Name_en" />
                        <textarea id="txten" class="form-control" @bind="@selectedPoi.Description_en" />
                    </div>
                </div>
                <div>
                    <select class="form-control" @bind="@_selectedId">
                        @foreach (PoiCategory cat in PoiCats)
                        {
                            <option value="@cat.Id">@cat.Name_fr</option>
                        }
                    </select>
                    <button disabled="@isEditionMode" @onclick="(() => UpdatePoi())">Enregistrer</button>
                    <button @onclick="(() => EditionMode())">@editionModeString</button>
                    <input type="checkbox" @bind="@selectedPoi.IsDeleted" />
                </div>
            </div>
        </div>
    </div>
}

@code {
    private PointOfInterest[] maListePoi;
    public PointOfInterest selectedPoi = new PointOfInterest();
    public bool isEditionMode;
    public string editionModeString = "Mode Edition";

    public List<PoiCategory> PoiCats;
    private int _selectedId;
    private int _selectedPoiId;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await HttpClient.GetAsync("pointinteret");
            if (res.IsSuccessStatusCode)
            {
                string json = await res.Content.ReadAsStringAsync();
                maListePoi = Newtonsoft.Json.JsonConvert.DeserializeObject<PointOfInterest[]>(json);
                isEditionMode = false;
            }
            var res2 = await HttpClient.GetAsync("category");
            if (res2.IsSuccessStatusCode)
            {
                string json2 = await res2.Content.ReadAsStringAsync();
                PoiCats = Newtonsoft.Json.JsonConvert.DeserializeObject<PoiCategory[]>(json2).ToList<PoiCategory>();
            }

        }
        catch (Exception e)
        {
            System.Diagnostics.Debug.WriteLine(e.Message);
            throw;
        }
    }

    public void getDescription(int id)
    {
        if(id > 0)
        {
            if (isEditionMode == true)
            {
                editionModeString = "Mode Edition";
                isEditionMode = false;
                JSRuntime.InvokeAsync<List<string>>("myDestroyFunction");
            }

            try
            {
                selectedPoi = maListePoi.FirstOrDefault(x => x.Id == id);
                _selectedId = selectedPoi.Category_id;

            }
            catch (Exception e)
            {
                System.Diagnostics.Debug.WriteLine(e.Message);
                throw;
            }
        }
    }

    public async void UpdatePoi()
    {
        try
        {
            selectedPoi.Category_id = _selectedId;
            await HttpClient.PutAsJsonAsync<PointOfInterest>("pointinteret/", selectedPoi);
        }
        catch (Exception e)
        {
            System.Diagnostics.Debug.WriteLine(e.Message);
            throw;
        }
    }
    public async void EditionMode()
    {
        if (isEditionMode == false)
        {
            editionModeString = "Retour Normal";
            isEditionMode = true;
            await JSRuntime.InvokeVoidAsync("myFunction");
        }
        else
        {
            editionModeString = "Mode Edition";
            isEditionMode = false;
            List<string> val = (await JSRuntime.InvokeAsync<List<string>>("myDestroyFunction"));
            selectedPoi.Description_fr = val[0];
            selectedPoi.Description_nl = val[1];
            selectedPoi.Description_en = val[2];
        }
    }
}
